#icons {
    width: 20px;
    height: 23px;
    color: gray;
}

#menu{
    width: 28px;
    height: 33px;
    color: gray;
}

.navDrawer {
    display: none;
    margin-top: 65px;
    box-shadow: none;
    background-color: white;
}

#menuHeadercol3{
    display: none;
}

.flotingbtn{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 50px;
}

@media screen and (min-width: 980px) {
    .navDrawer{
        display: block;
    }
    #menuHeadercol3{
        display: block;
    }
    .flotingbtn{
        display: none;
    }
    
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color: beige;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

table thead tr th {
    border-bottom: 1px solid red;
}

table tbody :hover{
    background-color: beige;
}

table tbody :hover #listicon{
    background-color: beige;
    display: inline-block;
}

#navOp {
    list-style: none;
}
#navOp :hover{
    background-color: beige;
}

.createcon {
    margin-left: 25px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 50px;
}

#listicon{
    width: 20px;
    height: 23px;
    color: gray;
    display: none; 
}

#menuHeader{
    position: fixed;
    width: 100%;
}

#body{
    position: static;
    padding-top: 80px;
}

